.login {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}

.loginH2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginFormLabel {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.loginFormInput {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 1px #fff solid;
  border-radius: 10px;
  outline: none;
}

.loginFormButton {
  border: 2px #fff solid;
  border-radius: 10px;
  background-color: #000;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.loginNavLink {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  text-decoration: none;
  color: #fff;
  transition: color 300ms ease-in-out;
}

.loginError {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: #e76262;
}

@media (min-width: 1025px) {
  .loginFormButton:hover {
    border-color: #e76262;
    color: #e76262;
  }

  .loginNavLink:hover {
    color: #e76262;
  }
}

@media (max-width: 1024px) {
  .loginNavLink {
    color: #e76262;
  }
}

@media (max-width: 750px) {
  .loginH2 {
    font-size: 1.75rem;
  }

  .loginFormLabel {
    font-size: 1.25rem;
  }

  .loginFormInput {
    font-size: 1rem;
  }

  .loginFormButton {
    font-size: 1.25rem;
  }

  .loginNavLink {
    font-size: 1rem;
  }

  .registerError {
    font-size: 1rem;
  }
}
